<meta charset="UTF-8"/>
{% extends "base.html" %}
{% load staticfiles %}
{%block titulo%}{{title}}{%endblock%}

{%block top%}
		<h1>Erro 500</h1>
{%endblock%}

{%block menu%}
     <li>
        <a href="{% url 'home' %}">
            <div class="item-menu-selec">
                <img src="{% static 'images/home24.png' %}"  alt="" />
                <p>HOME</p>
            </div>
        </a>
    </li>
{% endblock %}

{%block conteudo%}
    <div class="error-page-container-500">
        <div class="error-page-img">
            <img src="{% static 'images/500.png' %}" alt="" />
        </div>
        <div class="error-page-text">
            <h1>Erro 500</h1>
            <h2>Erro inesperado!</h2>
            <h3>Estamos verificando o que ocorreu, tente novamente, caso o problema persista contate a CGTI</h3>
            <p><b>E-mail: </b>cpd.paraiso@ifto.edu.br</p>
            <p><b>Telefone: </b>63 3361-0314</p>
            <p><b>Suporte: </b><a href="https://paraiso.ifto.edu.br/suporte/">paraiso.ifto.edu.br/suporte</a></p>
        </div>
    </div>
{%endblock%}