<meta charset="UTF-8"/>
{% extends "base.html" %}
{% load staticfiles %}
{% load restaurante_extras %}
{% load pagination_tags %}
{%block titulo%}{{title}}{%endblock%}

{%block top%}
	{% if request.session.nome %}
		<h1>{{request.session.nome}}</h1>
		<a href="/restaurante/logout"><h2>Sair</h2></a>
	{%else%}
		<h1>Faça Login</h1>
	{%endif%}
{%endblock%}

{%block menu%}
	{% if request.session.menu%}
		{%for item in request.session.menu%}
			{% if item == itemselec %}
				<li> 
					<a href="/{{ request.session.url|get_at_index:forloop.counter0 }}">
						<div class="item-menu-selec">
							<img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
							<p>{{item}}</p>
						</div>
					</a>
				</li>
			{%else%}
				<li> 
					<a href="/{{ request.session.url|get_at_index:forloop.counter0 }}">
						<div class="item-menu">
							<img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
							<p>{{item}}</p>
						</div>
					</a>
				</li>
			{%endif%}
		{%endfor%}
	{%endif%}
{%endblock%}
	
{%block conteudo%}
	{%if request.session.usertip == 'aluno'%}
		<div class="card">
			<img src="/restaurante/static/images/ticket.png" alt="">
			<h1>Tiquetes Disponíveis</h1>
			<br>
			{% autopaginate tickets 4 %}
				{%for item in tickets%}
					<div class="list_card">
						<li>
							<table>
								<tbody>
									<tr>
										<td><b>DATA</b></td>
										<td><b>ID</b></td>
										<td><b>STATUS</b></td>
									</tr>
									<tr>
										<td>{{item.data_criacao|convert_datetime}}</td>
										<td>{{item.id}}</td>
										<td>{{item.status}}</td>
									</tr>
								</tbody>
							</table>
						</li>
					</div>
				{%endfor%}
			{% paginate %}
			<br>
			<p>{{dia}}</p>
		</div>
		
		<div class="card">
			<img src="/restaurante/static/images/user.png" alt="">
			<h1>Dados do Aluno</h1>
			<br>
			<p><b>CPF:</b> {{request.session.userl}}</p>
			<p><b>Nome:</b> {{request.session.nome}}</p>
			<p><b>E-mail:</b> {{request.session.mail}}</p>
			<p><b>Curso:</b> {{request.session.curso}}</p>
		</div>
		
		<div class="fab-bottom-single-container">
			<div class="tooltip">
				<a href="/restaurante/geraticket/">
					<div class="fab-bottom-single">
						<img alt="" src="{% static 'images/add24.png' %}">
					</div>
				</a>
				<span class="tooltiptext">Gerar Tiquetes</span>
			</div>
		</div>
	{%else%}
		<div class="card">
			<img src="/restaurante/static/images/user.png" alt="">
			<h1>Opções Administrativas</h1>
			<br>
			<a href="/restaurante/venda/***aluno***/***ticket***/***prato***">Venda</a>
		</div>
	{%endif%}
{%endblock%}

