<meta charset="UTF-8"/>
{% extends "base.html" %}
{% load staticfiles %}
{% load restaurante_extras %}
{% load pagination_tags %}
{%block titulo%}{{title}}{%endblock%}

{%block top%}
	{% if request.session.nome %}
		<h1>{{request.session.nome}}</h1>
		<a href="{% url 'Logout' %}"><h2>Sair</h2></a>
	{%else%}
		<h1>Faça Login</h1>
	{%endif%}
{%endblock%}

{%block menu%}
	{% if request.session.menu%}
		{%for item in request.session.menu%}
			{% if item == itemselec %}
				<li> 
					<a href="/{{ request.session.url|get_at_index:forloop.counter0 }}">
						<div class="item-menu-selec">
							<img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
							<p>{{item}}</p>
						</div>
					</a>
				</li>
			{%else%}
				<li>
                    {% if item == 'logo' %}
                        <div id="hidemenu">
                            <img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
                        </div>
                    {% elif item == 'sair' %}
                        <div id="hidemenusair">
                            <div class="background-nome">
                                {% if request.session.nome %}
                                    <h1>{{request.session.nome}}</h1>
                                    <a href="{% url 'Logout' %}"><h2>Sair</h2></a>
                                {%else%}
                                    <h1>Faça Login</h1>
                                {%endif%}
                            </div>
                        </div>
                    {% else %}
                        <a href="/{{ request.session.url|get_at_index:forloop.counter0 }}">
                            <div class="item-menu">
                                <img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
                                <p>{{item}}</p>
                            </div>
                        </a>
                    {% endif %}
				</li>
			{%endif%}
		{%endfor%}
	{%endif%}
{%endblock%}

{%block conteudo%}
	{%if request.session.usertip == 'lanchonete' or request.session.usertip == 'admin' %}

        {% if step == 'notprato' %}
			<div class="card">
				<img src="{% static 'images/comida.png' %}" alt="" width="70">
				<h1>Pratos</h1>
				<br>
				<div class="navegation_bar">
					<a href="javascript:window.history.go(-1)">Voltar</a>
				</div>
                <p>Não há pratos cadastrados</p>
                <a href="{% url 'CadastroPrato' %}">Cadastrar Prato</a>
			</div>
		{%endif%}
	
		{% if step == 'fim' %}
			<div class="card">
				<img src="{% static 'images/comida.png' %}" alt="" width="70">
				<h1>Finalizar Venda</h1>
				<br>
				<div class="navegation_bar">
					<a href="javascript:window.history.go(-1)">Voltar</a>
				</div>
				<div class="formulario">
					<form id="frm" method="post" action="{% url 'Vender' id_pessoa=dados.pessoa.usuario %}"> {%csrf_token%}
						<p style="text-align: center">Descrição da Venda</p>
						<p style="text-align: left"><b>Aluno: </b>{{dados.pessoa.nome}}</p>
                        <p style="text-align: left"><b>ID Aluno: </b><input style="display: none" type="text" id="id_aluno" name="id_aluno" value="{{dados.aluno.id}}"/>{{dados.aluno.id}}</p>
						<p style="text-align: left"><b>Data: </b>{{data}}</p>
						<p style="text-align: left"><b>Prato: </b>{{prato.descricao}}</p>

						{% if not cem %}
							<p style="text-align: left"><b>Valor: </b>{{prato.preco}}</p>
						{% else %}
							<p style="text-align: left"><b>Valor: </b>{{prato.preco|dobro}}</p>
							<p style="text-align: left; color: green"><b>Tipo: </b>Bolsa 100%</p>
						{%endif%}
                        {{ formulario.as_p }}
						<p><input type="submit" name="commit" value="Finalizar" id="botao" ></p>
					</form>
				</div>
			</div>
		{%endif%}
		
		{% if pratos %}
			{% if step == 'ter' %}
				<div class="card-progressao">
					<div class="progressao">
						<img src="{% static 'images/aluno.png' %}" alt="" width="70">
						<img src="{% static 'images/ticket.png' %}" alt="" width="70">
						<img src="{% static 'images/comida.png' %}" alt="" width="70">
						<!--- <h1>Alunos</h1> --->
					</div>
					<div class="progressao-rotulo">
						<h1>Pratos</h1>
					</div>
					<p id="nome-aluno">{{nome.id_pessoa.nome}}</p>
					<div class="navegation_bar">
						<a href="javascript:window.history.go(-1)">Voltar</a>
					</div>
					{% autopaginate pratos 4 %}
						{%for prato in pratos%}
							<div class="list_card">
                                <a href="{% url 'Venda' %}"><!---"Antiga URL /restaurante/venda/{{idaluno}}/{{idticket}}/{{prato.id}}--->
									<li>
										<table>
											<tbody>
												<tr>
													<td><b>NOME</b></td>
													<td><b>VALOR</b></td>
												</tr>
												
												<tr>
													<td>{{prato.descricao}}</td>
													<td>{{prato.preco}}</td>
												</tr>
											</tbody>
										</table>
									</li>
								</a>
							</div>
						{%endfor%}
					{% paginate %}
				</div>
			{%endif%}
		{%endif%}
	
		{% if step == 'seg' %}
			<div class="card-progressao">
				<div class="progressao">
					<img src="{% static 'images/aluno.png' %}" alt="" width="70">
                    <img src="{% static 'images/ticket.png' %}" alt="" width="70">
                    <img src="{% static 'images/comida.png' %}" alt="" width="70">
					<!--- <h1>Alunos</h1> --->
				</div>
				<div class="progressao-rotulo">
					<h1>Tickets</h1>
				</div>
				<br><br>
				<div class="navegation_bar">
					<a href="javascript:window.history.go(-1)">Voltar</a>
				</div>
				<br>
				<p><b>{{nome.id_pessoa.nome}}</b>, Não há tiquetes disponíveis</p>
			</div>
		{%endif%}
	
		{% if step == 'pri' %}
			<div class="card-progressao">
				<div class="progressao">
					<img src="{% static 'images/aluno.png' %}" alt="" width="70">
                    <img src="{% static 'images/ticket.png' %}" alt="" width="70">
                    <img src="{% static 'images/comida.png' %}" alt="" width="70">
					<!--- <h1>Alunos</h1> --->
				</div>
				<div class="progressao-rotulo">
					<h1>Alunos</h1>
				</div>
				<div class="card-progressao-container">
                    <div class="navegation_bar">
                        <a href="javascript:window.history.go(-1)">Voltar</a>
                    </div>
                    <table id="minhaTabela">
                        <thead>
                            <tr id="tr-no-shadow">
                                <th>Nome</th>
                                <th>Matrícula</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for aluno in alunos%}
                                <tr>
                                    <td id="td-vermelho"><a href="{% url 'Vender' id_pessoa=aluno.cpf %}">{{ aluno.nome }}</a></td>
                                    <td><a href="{% url 'Vender' id_pessoa=aluno.cpf %}">{{ aluno.cpf }}</a></td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
			</div>
            <script>
                $(document).ready(function () {
                    $('#minhaTabela').DataTable({
                        "bPaginate": true,
                        "bLengthChange": false,
                        "bFilter": true,
                        "bInfo": true,
                        "bAutoWidth": true,
                        "language": {
                            "sEmptyTable": "Nenhum registro encontrado",
                            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                            "sInfoThousands": ".",
                            "sLengthMenu": "_MENU_ resultados por página",
                            "sLoadingRecords": "Carregando...",
                            "sProcessing": "Processando...",
                            "sZeroRecords": "Nenhum registro encontrado",
                            "sSearch": "Pesquisar",
                            "oPaginate": {
                            "sNext": "»",
                            "sPrevious": "«",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                            }
                        },
                    });
                });
            </script>
		{%endif%}
	{%endif%}

    <script>
        function mostrarocultar(mostrar, ocultar){
            $("#"+mostrar).show(500);
            document.getElementById(ocultar).style.display = "none";
        }
        function ocultarmostrar(mostrar, ocultar){
            $("#"+ocultar).hide(500);
            $("#"+mostrar).show(500);
        }
        function  mostrar(ID){
            document.getElementById(ID).style.display = "block";

        }
        function  ocultar(ID){
            document.getElementById(ID).style.display = "none";
            $("#"+ID).hide("slow");
        }
    </script>

    {% if messages %}
        <div class="msg-popup-container">
            {% for message in messages %}
                <div id="{{ forloop.counter0 }}" class="msg-popup {{ message.tags }}">
                    <img src="{% static 'images/'%}{{ message.tags }}.png" alt="" width="70" height="70"/>
                    <p>{{ message }}</p>
                    <a onclick="ocultar('{{ forloop.counter0 }}')">x</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{%endblock%}

