<meta charset="UTF-8"/>
{% extends "base.html" %}
{% load restaurante_extras %}
{% load static %}
{% load pagination_tags %}
{%block titulo%}{{title}}{%endblock%}

{%block top%}
	{% if request.session.nome%}
			<h1>{{request.session.nome}}</h1>
			<a href="{% url 'Logout' %}"><h2>Sair</h2></a>
		{%endif%}
{%endblock%}

{%block menu%}
	{% if request.session.menu%}
		{%for item in request.session.menu%}
			{% if item == itemselec %}
				<li>
					<a href="/{{ request.session.url|get_at_index:forloop.counter0 }}">
						<div class="item-menu-selec">
							<img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
							<p>{{item}}</p>
						</div>
					</a>
				</li>
			{%else%}
				<li>
                    {% if item == 'logo' %}
                        <div id="hidemenu">
                            <img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
                        </div>
                    {% elif item == 'sair' %}
                        <div id="hidemenusair">
                            <div class="background-nome">
                                {% if request.session.nome %}
                                    <h1>{{request.session.nome}}</h1>
                                    <a href="{% url 'Logout' %}"><h2>Sair</h2></a>
                                {%else%}
                                    <h1>Faça Login</h1>
                                {%endif%}
                            </div>
                        </div>
                    {% else %}
                        <a href="/{{ request.session.url|get_at_index:forloop.counter0 }}">
                            <div class="item-menu">
                                <img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
                                <p>{{item}}</p>
                            </div>
                        </a>
                    {% endif %}
				</li>
			{%endif%}
		{%endfor%}
	{%endif%}
{%endblock%}

{%block conteudo%}
	{% if not request.session.userl %}
		<meta http-equiv="refresh" content="0; url=/login/">
	{%else%}
		<div class="cartao">
			<img src="{% static 'images/relatorio.png' %}" alt="" width="70"/>
			<h1>Relatórios</h1>
			<br>
			<div class="navegation_bar">
                <a href="{% url 'Home' %}">Home</a>
				<a href="{% url 'Relatorios' %}">Relatórios</a>
			</div>
			
			<div class="box-file">
				<div class="box_folder">
					<a href="{% url 'RelatorioVendas' %}" title="Abrir Relatório de Vendas">
						<div class="folder">
							<br><img src="{% static 'images/dinheiro.png' %}" alt="" />
						</div>
						<p>Rel. Vendas Realizadas</p>
					</a>
				</div>
				<div class="box_folder">
					<a href="{% url 'RelatorioCustoAlunoPeriodo' %}" title="Abrir Relatório Custo Alunos Período">
						<div class="folder">
							<br><img src="{% static 'images/dinheiroorange.png' %}" alt="" />
						</div>
						<p>Rel. Custo Aluno Período</p>
					</a>
				</div>
			</div>
		</div>
	{%endif%}
{%endblock%}